<h3>
  Detalles del Usuario
</h3>
<div>
  <div>
    <label>
      <img width="100px" src="{{usuario.image}}">

    </label>
  </div>
  <div>
    <label>
      <b>
        ID :
      </b>
      {{usuario.id}}
    </label>
  </div>
  <div>
    <label>
      <b>
        Nombre :
      </b>
      {{usuario.name}}
    </label>
  </div>
  <div>
    <label>
      <b>
        direccion :
      </b>
      {{usuario.address}}
    </label>
  </div>
  <div>
    <label>
      <b>
        edad :
      </b>
      {{usuario.age}}
    </label>
  </div>
  <div>
    <label>
      <b>
        Pais :
      </b>
      {{usuario.country}}
    </label>
  </div>
  <div>
    <label>
      <b>
        telefono :
      </b>
      {{usuario.phone}}
    </label>
  </div>
  <div>
    <label>
      <b>
        Email:
      </b>
      {{usuario.email}}
    </label>
  </div>
</div>
